name: Build on Pull Request

on:
  pull_request:
    types: [opened, reopened]
    branches:
      - main
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: [self-hosted]
    steps:

    - name: Build the project
      run: |
        source /opt/ros/eloquent/setup.bash
